.about-skills-container {
  
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 150px;

  /* wrapper */
  width: 90%;
  max-width: 1080px;
  margin: 100px auto;
  /* wrapper */
}

.about-header-text h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  color: var(--primary);
}

.about-header-text p {
  font-size: 19px;
}

.about-header-text p span {
  color: var(--primary);
}

.company-container {
  display: flex;
  justify-content: start;
}

.company-container span {
  height: 3px;
  width: 50px;
  background: var(--primary);
  margin: 17px 10px;
  transition: 0.4s;
}

.about-image {
  border-radius: 5%;
  width: 320px; /* Adjust size as needed */
  height: 320px; /* Adjust size as needed */
  object-fit: cover; /* Ensures the image covers the entire container */
  object-position: center
}

