.contact-container  {
    background-color: #fcdec0;
    padding: 50px 0;
}

.questions {
    font-size: 16px;
    color:var(--hover);
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
}

.contact-header-text {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
}
  
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
  
.contact-form-text{
  
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #2f3542;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
  
.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
  
}
  
textarea.contact-form-text{
    resize: none;
    height: 120px;	
}
  
  
.contact-form-btn{
    float: right;
    border: 0;
    background-color: var(--primary);
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 40px;
}
  
.contact-form-btn:hover{
    background: var(--hover)
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.3s ease-out;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary);
  }
  
  .modal-message {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .modal-btn {
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-btn:hover {
    background-color: var(--hover);
  }
  
  /* Modal Slide Animation */
  @keyframes slide-down {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }