.App {
    /* padding: 100px */
}

:root {
  --primary: #ff9428;
  --hover: #5f3000;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

  
  
/* HEADER */
  .header-container {
    text-align: center;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 10px 20px;
    color: black; /* Default text color black */
    position: fixed; /* Makes the header fixed */
    top: 0; /* Keeps the header at the top */
    width: 100%; /* Ensures the header spans the full width of the viewport */
    z-index: 1000; /* Ensures the header stays on top */
    transition: background-color 0.6s ease;
  }
  .header.open-header {
    background-color: var(--primary);
  }
  
  .logo {
    font-size: 34px;
    color: var(--primary);
  }

  .logo.open-logo {
    color: white;
  }
  
  .nav {
    display: none;
    flex-direction: column;
    background: var(--primary);; /* Default orange background for the menu */
    position: absolute;
    left: 0;
    text-align: left;
    width: 100%;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease, opacity 0.3s ease 0.3s;
    opacity: 0; /* Start with zero opacity */
    text-align: center;
    justify-content: center;
  }
  .nav.open {
    display: flex;
    background: var(--primary);; /* Orange background when menu is open */
    width: 100%;
    height: calc(100vh - 60px);
    opacity: 1;
  }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav ul li {
    margin: 10px 0;
    padding: 10px 20px;
    background: var(--primary);; /* Orange background for each menu item */
  }
  
  .nav ul li a {
    color: white; /* Default link color black */
    text-decoration: none;
    font-size: 29px;
    transition: color 0.3s ease; /* Transition for text color */
  }
  
  .nav ul li a:hover {
    color: var(--hover); /* Orange color on hover */
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    height: 3px;
    width: 25px;
    background: var(--primary); 
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Hamburger Menu Open State */
  .hamburger.open span:nth-child(1),
  .hamburger.open span:nth-child(3) {
    background: white; 
  }
  
  .hamburger.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* END HEADER */

  /* LANDING */
  .landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh;

    /* wrapper */
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    /* wrapper */
  }

  .landing-header-text {
    margin-bottom: 20px; /* Adjust spacing */
  }

  .landing-header-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
  }

  .landing-header-text p {
    font-size: 20px;
  }
  .landing-header-text p span {
    color: var(--primary);
  }

  .rounded-image {
    border-radius: 50%; 
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
  }

    /* END LANDING */


    /* ABOUT And Skills*/
    .about-skills-container {
      height: 100vh;
    }
    /* END ABOUT And Skills*/
    /* ABOUT */
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;

    /* wrapper */
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    /* wrapper */
    margin-bottom: 20px;
  }

  .about-header-text h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
  }

  .about-header-text p {
    font-size: 19px;
  }

  .about-header-text p span {
    color: var(--primary);
  }

  .company-container {
    display: flex;
    justify-content: start;
  }

  .company-container span {
    height: 3px;
    width: 50px;
    background: var(--primary);
    margin: 17px 10px;
    transition: 0.4s;
  }

  .about-image {
    border-radius: 5%;
    width: 320px; /* Adjust size as needed */
    height: 320px; /* Adjust size as needed */
    object-fit: cover; /* Ensures the image covers the entire container */
    object-position: 100% 30%;
  }
    /* END ABOUT */

  /* SKILLS */
  /* .skills-container {
    margin-bottom: 50px;
  } */
  .skills-header-text h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 60px auto;
    padding: 20px 0;
  }

  .skills li {
    list-style: none;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    margin: 0 20px;
    width: 120px;
  }

  .skills li img {
    width: 50px;
    margin-bottom: 20px;
  }

  /* Project */
  .project-container {
    height: 150vh;
  }
  .project-header-text h2{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
  }
  .project-image {
    width: 500px;
    height: 300px;
    display: block;
    transition: transform 0.3s ease;
  }
  .project-image-container {
    text-align: center;
    position: relative;
  }
  .project-image-container div {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  .project-image-container div:hover .overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .project-image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-20px);
    border-radius: 10px;
  }
  
  .overlay-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .overlay-description {
    font-size: 16px;
    margin: 10px 30px;
    color: white;
  }

  .overlay-skills-container {
    display: flex;
    justify-content: center;
  }
  
  .overlay-skills {
    font-size: 14px;
    color: grey;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .btn-project {
    margin-top: 7px;
    border-radius: 2cm;
    text-decoration: none;
    color:white;
    background-color: var(--primary);
    padding: 10px;
  }

  .btn-project:hover {
    background-color: var(--hover);
    transition: all 0.3s ease-in-out;
  }
  /* End Project */

  /* Contact */
  .contact-container  {
    background-color: #fcdec0;
    padding: 50px 0;
  }
  .questions {
    font-size: 16px;
    color:var(--hover);
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
  }
  .contact-header-text {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: var(--primary);
  }
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
  
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #2f3542;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  
  .contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
  
  }
  
  textarea.contact-form-text{
    resize: none;
    height: 120px;	
  }
  
  
  .contact-form-btn{
    float: right;
    border: 0;
    background-color: var(--primary) ;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 40px;
  }
  
  .contact-form-btn:hover{
    background: var(--hover)
  }
  /* End Contact */

/*Footer*/

.footerPad{
	padding-bottom: 100px;
  text-align: center;
  color:  rgba(255, 255, 255, .5);
}

.footer-bg{
	background-color: var(--primary);
}

.copyright {
	padding-top: 120px;
}
.copy-right-2020 {
  font-weight: bolder;
  color: #f35e08;
}

.follow{
	padding-top: 50px;
}
.sm{
	margin-top: 50px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.sm a{
	display: inline-flex;
	width: 40px;
	height: 40px;
	background: #2c3e50;
	color: #f35e08;
	margin: 0 6px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 22px;
  text-decoration: none;
	-webkit-box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
	

}

.sm a i{
	transition: 0.4s all;
	

}

.sm a:hover{
	background: #5FFFF1;	
}

.sm a:hover > i {
	transform: scale(1.6) rotate(25deg);
}

#topBtn{
	/*position: bottom;*/
	margin-bottom: 103px;
	bottom: 40px;
	font-size: 22px;
	width: 50px;
	height: 50px;
	background: #f35e08;
	color: white;
	border: none;
	cursor: pointer;
}

/* End Footer*/

    /* Responsive padding adjustments */
  @media (min-width: 768px) and (max-width:1024px){
    .landing-header-text h1 {
      font-size: 45px;
    }
    .landing-header-text p {
      font-size: 22px;
    }
    .landing-container {
      gap: 40px;
      justify-content: center;
    }
    .rounded-image {
      width: 300px;
      height: 300px;
    }
    .landing-header-text {
      align-self: end;
    }
    .landing-image {
      align-self: start;
    }
    .about-container {
      width: 100%;
      gap: 20px;
      padding: 20px;
      justify-content: center;
    }
    .skills-container {
      width: 100%;
      padding: 20px;
    }
    .about-header-text p { 
      font-size: 20px;
    }
    .about-image { 
      width: 250px;
      height: 250px;
    }
    .about-skills-container {
      height: 110vh;
    }
    .project-container {
      height: 170vh;
    }
  }

  /* Small screen adjustments */
  @media (max-width: 767px) {
    .landing-header-text h1 {
      font-size: 33px;
    }
    .landing-header-text p {
      font-size: 17px;
    }
    .landing-container {
      padding: 20px; /* Smaller padding on screens up to 767px wide (e.g., mobile screens) */
      gap: 20px;
      justify-content: center;
      width: 100%;
    }
    .landing-header-text {
      align-self: end;
    }
    .landing-image {
      align-self: start;
    }
    .about-container {
      width: 100%;
      gap: 20px;
      padding: 20px;
      justify-content: center;
    }
    .skills-container {
      width: 100%;
      padding: 20px;
    }
    .about-header-text p { 
      font-size: 13px;
    }
    .about-image { 
      width: 100px;
      height: 100px;
      border-radius: 50%; 
      
    }
    .skills li {
      width: 60px;
    }
    .about-skills-container {
      height: 135vh;
    }
    .project-image {
      width: 300px;
      height: 200px;
    }
    .project-container {
      height: 160vh;
    }

    .overlay-text {
      font-size: 15px;
    }
  
    .overlay-description {
      font-size: 12px;
    }
  
    .overlay-skills {
      font-size: 10px;
      padding: 2px 17px;
    }

    .btn-project {
      font-size: 12px;
    }
  } 
  
  /* FOR SE SCREEN */
  @media (max-width: 375px) {
    .project-container {
      margin-top: 250px;
      height: 200vh;
    }
  }