.App {
    /* padding: 100px */
}

:root {
  --primary: #ff9428;
  --hover: #5f3000;
}

.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}


